.form-container{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

::ng-deep .cdk-overlay-container {
    /* Do you changes here */
    position: fixed; 
    z-index: 1500 !important;
}